<p><%= User.human_attribute_name(:name) %> : <%= @user.name %></p>
<p><%= User.human_attribute_name(:postal_code) %> : <%= @user.postal_code %></p>
<p><%= User.human_attribute_name(:address) %> : <%= @user.address %></p>
<p><%= User.human_attribute_name(:description) %> : <%= @user.description %></p>
<p><%= User.human_attribute_name(:email) %> : <%= @user.email %></p>

<%= link_to t('devise.shared.links.back'), :back %>
<%= link_to '本一覧へ', books_path %>
