<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'views.books.show.Title' %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t 'views.books.show.Memo' %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t 'views.books.show.Author' %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t 'views.books.show.Picture' %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.books.show.Edit'), edit_book_path(@book) %> |
<%= link_to t('views.books.show.Back'), books_path %>
